In [4]:
import numpy as np
import pandas as pd
import requests
import json
from config import client_id, client_secret, last_fm_api_key, shared_secret_lastfm, audio_db_api_key
from flask import Flask, jsonify

In [5]:
last_fm_root = 'http://ws.audioscrobbler.com/2.0/'
auth_token_url = 'https://accounts.spotify.com/authorize'
audio_db_base = 'https://theaudiodb.com/api/v1/json/'

#last.fm api documentation link:
#https://www.last.fm/api/intro

In [6]:
artist_name = 'daft_punk'
artist_name_1 = 'LCD Soundsystem'
query_url = audio_db_base + audio_db_api_key + '/searchalbum.php?s=' + '{artist_name}'
adb_response = requests.get(query_url)
adb_json = adb_response.json()
print(adb_json)

{'album': None}

In [7]:
trending_albums = '/trending.php?country=us&type=itunes&format=albums'
curr_query = audio_db_base + audio_db_api_key + trending_albums
adb_response = requests.get(query_url)
adb_json = adb_response.json()
print(adb_json)

{'album': None}

In [8]:
#conclusion
#audiodb sucks

In [9]:
lfm_auth_query = 'http://www.last.fm/api/auth/?api_key=' + '{last_fm_api_key}'
lfm_response = requests.get(lfm_auth_query)

In [13]:
coord_data = pd.read_csv('./Resources/uscities.csv')
#coord_data.head()
coord_data.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [17]:
simple_lat_pd = coord_data.drop(columns=['city_ascii', 'county_fips','county_name','source','military','incorporated','timezone','ranking','zips'])
simple_lat_pd.head()

,city,state_id,state_name,lat,lng,population,density,id
0,New York,NY,New York,40.6943,-73.9249,18713220,10715,1840034016
1,Los Angeles,CA,California,34.1139,-118.4068,12750807,3276,1840020491
2,Chicago,IL,Illinois,41.8373,-87.6862,8604203,4574,1840000494
3,Miami,FL,Florida,25.7839,-80.2102,6445545,5019,1840015149
4,Dallas,TX,Texas,32.7936,-96.7662,5743938,1526,1840019440